{% extends 'IntegratedContentBundle::base.html.twig' %}

{% form_theme facetFilter 'IntegratedBlockBundle:Form:form_div_filter.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button">{% trans %}Create new{% endtrans %} <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        {% for metadata in factory.allMetadata %}
                            <li role="presentation">
                                <a href="{{ path('integrated_block_block_new') }}?class={{ metadata.class }}">{{ metadata.type|default(metadata.class) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            {% include 'IntegratedBlockBundle:Block/partials:block_list.html.twig' %}

        </div>

        <div class="col-sm-4">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    {{ form_start(facetFilter) }}

                    <div class="aside-item-holder">
                        {{ form_row(facetFilter.type) }}
                    </div>

                    {% if pageBundleInstalled %}
                        <div class="aside-item-holder">
                            {{ form_row(facetFilter.channels) }}
                        </div>
                    {% endif %}

                    {{ form_end(facetFilter) }}
                </div>
            </aside>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();

            $('form[name="integrated_block_filter"]').on('change', function () {
                $(this).trigger('submit');
            });
        });
    </script>
{% endblock %}
