{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_block_block_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}New{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}New{% endtrans %} <small>{% trans %}Block{% endtrans %}</small></h1>
            <section class="section-white section-padding section-shadow section-radius">
                {{ form_start(form, { 'style': 'horizontal' }) }}
                <div id="integrated_block_block">
                    {{ form_errors(form) }}

                    {% for field in form %}
                        {% if field.vars.name == 'useTitle' %}
                            <div class="form-group ">
                                <div class="col-md-2 text-right">
                                    {{ 'Published title'|trans }}
                                </div>
                                <div class="col-md-10">
                                    <div>
                                        <label style="font-weight: unset;" for="{{ field.vars.id }}">{{ form_widget(field) }} {{ field.vars.name|humanize }}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ form_row(field) }}
                        {% endif %}

                    {% endfor %}
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/integratedblock/js/published_title.js') }}"></script>
{% endblock %}